<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="form-row">Adicionar Aluno</h2>
    </div>
  </div>

  <div class="row">
    <form [formGroup]="addStudentForm" (ngSubmit)="onSubmit()">
      <div class="row form-row">
        <div class="col-md-10">
          <div class="form-group">
            <label for="name">Nome</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="nome"
            />
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="age">Idade</label>
            <input
              type="number"
              class="form-control"
              id="age"
              formControlName="idade"
            />
          </div>
        </div>
      </div>

      <hr />

      <div class="row form-row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="date">Data de matrícula</label>
            <input
              type="date"
              class="form-control"
              id="date"
              formControlName="data_matricula"
            />
          </div>
        </div>

        <div class="col-md-8">
          <div class="form-group">
            <label for="course">Curso</label>
            <input
              type="text"
              class="form-control"
              id="course"
              formControlName="curso"
            />
          </div>
        </div>
      </div>

      <div class="button-group form-row">
        <div class="row">
          <div class="col-md-6">
            <button
              class="btn btn-lg btn-warning text-white"
              (click)="backPage()"
            >
              Voltar
            </button>
          </div>
          <div class="col-md-6 wrapper-save-student">
            <button
              *ngIf="!disabled"
              class="btn btn-lg btn-success text-white save-student"
              type="submit"
            >
              <ng-container>
                {{ route.snapshot.params["id"] ? "Editar" : "Cadastrar" }}
              </ng-container>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
