.form-row {
  padding: 25px 0;
}

.wrapper-save-student {
  display: flex;

  justify-content: flex-end;
}

input.ng-touched.ng-invalid {
  border-color: #d32f2f;
}

.spinner-border {
  width: 18px;
  height: 18px;
  font-size: 8px;
}

.save-student {
  min-width: 110.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
